{% extends "main.html" %}
{% block title %}
Admin-Serveur - {{serveur.nom}}
{% endblock %}
{% block content %}

<h2> {{serveur.nom}} </h2>
<div class="text">
<p> Le serveur {{serveur.nom}} est de type {{serveur.type_de_serveur}}. </p>
<p> <img src="/static/disc.png" style="width:40px;height:40px;position:absolute;margin-left:-55px;margin-top:15px"/> Stockage: {{serveur.stockage_adapt}} | {{serveur.ratio}} ({{serveur.progress}})</p>
<div class="progress"><div class="value" style="width:{{serveur.progress_stockage}}%;background:{{serveur.color_stockage}}"> </div></div>
<br>
<p> <img src="/static/ram.png" style="width:40px;height:40px;position:absolute;margin-left:-55px;margin-top:15px"/> Memoire vive: {{serveur.memoire_adapt}}  ({{serveur.memory_percent}})</p>
<div class="progress"><div class="value" style="width:{{serveur.progress_memoire}}%;background:{{serveur.color_memoire}}"> </div></div>
<br>
<p> <img src="/static/cpu.png" style="width:40px;height:40px;position:absolute;margin-left:-55px;margin-top:15px"/> Nombre de processeurs : {{serveur.processeurs}} </p>
</div>

{% if applications_count > 0 or services_count > 0 %}
<div class="container">
<div class="left">
{% if services_count > 0 %}
<h2>Les services associés a ce serveur:</h2>

<ul class="liste">
{% for i in services %}
<li><a href="/affiche/service/{{i.id}}/">{{i}}</a></li>
{% endfor %}
</ul>
{% else %}
<h2 class="error">Aucun service n'est associé a ce serveur</h2>
{% endif %}
</div>
<div class="right">
{% if applications_count > 0 %}

<h2>Les applications associées a ce serveur:</h2>
<ul class="liste">
{% for i in applications %}
<li><a href="/affiche/application/{{i.id}}/">{{i}}</a></li>
{% endfor %}
</ul>
{% else %}
<h2 class="error">Aucune application n'est associée a ce serveur</h2>
{% endif %}
</div>
</div>
{% else %}
<h2 class="error">Aucun service ou application n'est associé a ce serveur</h2>
{% endif %}
<div class="space" style="height:200px;"></div>
<a href="/adminserver/serveurs/rapport_pdf/{{serveur.id}}/" target="blank_"><h2>Obtenir une fiche PDF</h2></a>
{% endblock %}