{% extends "main.html" %}
{% block title %}
Admin-Serveur - Affiche
{% endblock %}
{% block content %}
<h2> {{utilisateur.email}} </h2>
<img src="/static/user.png" style="width:80px;height:80px;margin:20px"/>
<p> NOM : {{utilisateur.nom}}</p>
<br>
<p> PRENOM : {{utilisateur.prenom}}</p>
<br>
<p> EMAIL : <a href="mailto:{{utilisateur.email}}">{{utilisateur.email}}</a></p>
<br>
<br>
<hr>
<br>
{% if count > 0 %}
<h2> Applications de cet utilisateur: </h2>
<ol>
{% for i in objects %}
    <li><a class="object_title" href="/affiche/application/{{i.id}}/">{{i}}</a><br><a href="/delete/application/{{i.id}}/">Supprimer</a><line>|</line><a href="/update/application/{{i.id}}/">Ajourner</a><br><br><img src="/media/{{i.logo}}" style="height:200px"></div></li>
{% endfor %}
</ol>
{% else %}
<h3 class="error"> Cet utilisateur n'a aucune application. </h3>
{% endif %}

{% endblock %}