{% extends "main.html" %}
{% block title %}
Admin-Serveur | Home
{% endblock %}
{% block content %}
<h2> ADMINISTRATION DE SERVEURS </h2>
<div class="bg">
</div>
    <h2> Choisissez le serveur dédié le plus adapté à vos applications métier </h2>
<p style="width:750px;text-align:justify;"> Avec AdminServeur, appuyez-vous sur un expert du bare metal. Hébergez votre site web, déployez votre infrastructure à haute résilience ou personnalisez votre machine pour l’adapter à vos projets, en quelques clics. Grace a nous vous pouvez configurer des serveurs, selectioner ses specifications, ainsi que deployer vos services et applications.</p>
<br>
<img src="/static/us.png"/>
<div class="home-2">
<a style="text-decoration:none" href="/adminserver/serveurs"> <h2> Voir la liste de nos serveurs </h2> </a>
<img src="/static/serveurs.png"/>
</div>
<div class="space"></div>
{% endblock %}