*{padding:0;margin:0;}
nav{pointer-events:all;width:100%;min-height:60px;display:flex;align-items:center;background:#115e99;z-index:1000}
body{display:flex;align-items:center;flex-direction:column;min-height:100vh;width:100%;background-color:#F3F3F3;overflow-x:hidden;}
nav > h1{color:white;font-family:Tahoma;padding:20px;font-weight:1;color:#e5e5e7;border-right:solid #e5e5e7 1px;}
h1{color:white;font-family:Tahoma;padding:20px;font-weight:1;color:#e5e5e7;}
h2{color:#115e99;font-family:Tahoma;padding:20px;font-weight:1;}
.liens{display:flex;justify-content:center;width:100%;}
nav > * > a{color:#EEE;font-family:tahoma;font-weight:lighter;width:100%;text-align:center;font-size:16px;text-decoration:none;}
nav > h1 > a{text-decoration:none;font-family:tahoma;font-size:20px;}
form{display:flex;flex-direction:column;align-items:center;}
form > li {list-style:none;display:flex;flex-direction:column;align-items:center;padding:20px;}
form > li > label{color:#222;font-family:tahoma;font-weight:1;font-size:18px;}
form > li > select{min-width:200px;border:1px solid #DDD;border-radius:5px;min-height:25px;font-family:arial;margin-top:5px;font-size:16px;}
form > li > input{min-width:200px;border:1px solid #DDD;min-height:25px;font-size:16px;border-radius:5px;font-family:arial;margin-top:5px;}
.server_img{width:200px;height:200px;background:url(/static/server.png);background-size:100%}
ol{display:flex;width:80vw;flex-wrap:wrap;justify-content:center;}
ol > li{padding:40px;margin:40px;list-style:none;text-align:center;border-radius:5px;background:#EEE;box-shadow:#BBB 5px 5px 5px;transition:0.2s}

textarea{border:1px solid #DDD;font-size:16px;font-family:arial;margin-top:5px;}

ol > li:hover{transition:0.2s;transform:scale(1.05);}

.list_database{margin-top:20px;margin-bottom:20px;}

.services{margin-top:50px;display:flex;flex-wrap:wrap;}
.services > li{list-style:none;width:200px;padding:20px;text-align:center;}

.home-2{display:flex;width:100%;justify-content:center;align-items:center;}

.text{line-height:4;text-align:center;}
.error{color:#803030;font-size:22px;font-family:tahoma;font-weight:1;margin-top:20px;}
.addlink{font-size:16px;font-family:arial;font-weight:bold;color:#115e99}
.yes{font-size:25px;font-family:tahoma;font-weight:1;color:#444;margin-top:50px;padding:5px;text-decoration:none;border-radius:5px;background:#E2E2E2}
.yes:active{background:#CCC;box-shadow:none;}

.bg{clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);background:url(/static/background.jpg);margin-top:50px;width:100%;min-height:80vh;display:flex;justify-content:center;align-items:center;margin-bottom:25px;flex-direction:column;background-size:cover;background-attachment:fixed;animation:background_right_bottom 60s linear forwards}
h2{font-size:26px;}

.errorlist{color:red;font-family:tahoma;}

.object_title{font-size:20px;}
.space{height:40vh;}
.container{width:80vw;display:flex;margin-top:50px;}
.container > * > h2{text-align:center;}
.left{border-right:1px solid #222;}
.container > *{width:50%}
ul{max-width:100%;}


@keyframes background_right_bottom {
	0% {
		background-position: right bottom;
		background-size: 100%;
	}

	100% {
		background-position: right bottom;
		background-size: 150%;
	}
}

progress {
  border: none;
  width: 200px;
  height: 10px;
  border-radius:10px;
  background: crimson;
}

li > a{color:#444;line-height:25px;font-family:system-UI,arial}
line{margin-right:5px;margin-left:5px;user-select: none;}

.progress {
  color: white;font-family:arial;font-weight:1;background:#CCC;display:flex;height:15px;align-items:center;outline:1px solid #222;
}
.progress > p{width:200px;text-align:center;z-index:10}

.value{background:blue;height:15px;}

hr{width:80vw;}

p{color:#222;font-size:18px;font-family:tahoma;font-weight:1;}

.liste{display:flex;width:50vw;flex-direction:column;align-items:center;}
.liste > li {margin:10px;}

.nav_button_a , .nav_button{display:none;}
.nav_button_a {justify-content:flex-end;}
.nav_button{font-size:64px;background:none;border:none;color:white;margin-right:20px;}
.mobile_nav{display:none;width:75vw;height:100vh;right:-75vw;background:#EEE;position:fixed;z-index:100;transition:0.2s;outline:1px solid black;}

@media screen and (max-width: 1048px){
    nav > .liens {justify-content:flex-end}
    nav > .liens > .lien{display:none;}
    nav > .liens > .nav_button_a{pointer-events:all;}
    .nav_button_a , .nav_button{display:flex;pointer-events:all;font-family:auto;font-weight:1;}
    .nav_button{cursor:pointer;}
    .mobile_nav{display:flex;justify-content:center;flex-direction:column;align-items:center;}
}