{% extends "main.html" %}
{% block title %}
Admin-Serveur | {{title}}
{% endblock %}
{% block content %}
<h2> {{title}} </h2>
{% if count == 0 %}
<h3 class="error"> Oups. Il semblerait qu'il n'y a aucun élément de cette catégorie. Voulez vous en rajouter?</h3>
<a class="yes" href="/ajout/{{url}}"> AJOUTER DES {{title}}</a>
{% elif count > 0 %}
<a class="addlink" href="/ajout/{{url}}"> AJOUTER DES {{title}}</a>
<p class="errorlist" style="margin:10px"> {{error}} </p>
<ul style="margin-top:25px;max-width:80%;list-style:none;">
{% for i in objects %}
<hr><br><li><a class="object_title" href="/affiche/{{url}}/{{i.id}}/">{{i}}</a><br><br><p style="margin-left:20px;width:calc(100% - 40px);text-align:justify">Description : {{i.description}}</p><br><a style="text-decoration:underline;cursor:pointer;" name="delete" id="/delete/{{url}}/{{i.id}}/">Supprimer</a><line>|</line><a href="/update/{{url}}/{{i.id}}/">Modifier</a></li><br>
{% endfor %}
</ul>
{% endif %}

<script>
	var all = document.getElementsByName('delete');

	for (var i=0; i<all.length; i++)
	{
		all.item(i).onclick = function ()
		{
			prompt(this.id);
		}
	}

	function prompt(element){
	    document.body.innerHTML += "<div id='prompt' style='display:flex;align-items:center;flex-direction:column;height:200px;width:500px;position:absolute;left:calc(50vw - 250px);top:calc(40vh - 100px);z-index:10;background:#EEE;outline: 10000px rgba(0,0,0,0.5) solid;pointer-events:all;'><h2 class='error' style='text-align:center;'>êtes-vous sûr de vouloir supprimer ce type de serveur?</h2><div class='action_prompt'><button style='width:90px;height:30px;margin:30px;cursor:pointer;' onclick='move(\"" + element + "\")'>" + "Oui" + "</button><button style='width:90px;height:30px;margin:30px;cursor:pointer;' onClick='annuler()'>Annuler</button></div></div>";
	    document.body.style.pointerEvents = "none";
	}

	function move(url){
	    window.location.replace(url);
	}

	function annuler(){
	    document.getElementById("prompt").remove();
	    document.body.style.pointerEvents = "all";
	    for (var i=0; i<all.length; i++){
		    all.item(i).onclick = function (){
			    prompt(this.id);
		    }
	    }
	}
</script>
{% endblock %}